@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');


* {
  margin: 0;
  padding: 0;
  border: 0;
}

#root {
  background-image: url("./assets/town.png");
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.title {
  padding-top: 5%;
  margin-left: 5%;
}