@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");
@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

* {
  margin: 0;
  padding: 0;
  border: 0;
}
body {
  background-color: #2D2D2D;
}

.map-alignment {
  display: flex;
  justify-content: center;
  align-items: center;
}

#root{
  height: 100vh;
}

.title {
  padding-top: 5%;
  margin-left: 5%;
}

.title-font{
  font-family: Ubuntu;
  font-size: 22px;
  color: rgb(173, 235, 234);
  font-weight: 800;

  /* background-color: rgb(31, 31, 31); */
  text-shadow: rgb(0, 0, 0) 3px 1px 4px;
  margin: 1% 0 0 1%;
}
.heading {
  font-family: Rubik;
  font-size: 28px;
  text-align: center;
  margin-bottom: 1%;
  color: rgb(173, 235, 234);
  font-weight: 800;
  text-shadow: rgba(20, 20, 20, 0.89) 3px 1px 4px;
}
.body-text , a{
  /* font-family: Rubik; */
  font-size: 12px;
  text-align: center;
  color: rgb(173, 235, 234);
  text-shadow: rgba(20, 20, 20, 0.89) 3px 1px 4px;
  margin-bottom: 2%;
}
.intro{
  margin-bottom: 1%;
}
p{
  margin-bottom: .2%;
}
.about-pic-container {
  display: flex;
  justify-content: center;
  margin: auto;
  width: 50%;
}
.my-pics {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 40%;
}

.about-pics {
  margin: 2%;
  border-radius: 2%;
  box-shadow: 4px 6px 19px 2px rgba(0,0,0,0.31);
}

/* PORTFOLIO */
h5 {
  
}

.project-pics {
  border-radius: 2%;
  width: 100%;
  transition: .5s ease;
}
.project-page {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin: auto;
  width: 90%;
}
.project-container {
  margin: 2%;
  width: 400px;
  height: 400px;
}

.overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .5s ease;
  opacity: 0;
}

.project-container:hover .project-pics {
  opacity: 0.3;
}

.project-container:hover .overlay {
  opacity: 1;
}
.project-text{
  position: absolute;
  top: 40%;
  font-family: Rubik;
  text-align: center;
  color: rgb(173, 235, 234);
  margin-bottom: 2%;
}
.git{
  text-decoration: underline;
  margin: 5%;
}

.from-left {
  font-size: 14px;
  padding: .5rem 1rem;
}